/* -- Table of Contents -- 

    - Variables
     --Color Variables
     --Font Variables
     --Media Query

    -Initial Standard DOM Elements

    -Customized reusable parts

    -Global Elements
     --Navigation
     --Search Overlay
     --Footer

    -Hero

    -Content Block

    -Quote Block

 -- END Table of Contents -- */

/* Color Variables */
$color-white: #fff;
$color-off-white: #f8fafc;
$color-white-shadow: #e5e7e9;
$color-grey: #b2b2b2;
$color-grey-border: #ececec;
$color-black: #000;
$color-navy: #022a41;
$color-dark-navy: #022234;
$color-blue: #749bbb;
$color-blue-shadow: #608cb1;
$color-orange: #c88f42;
$color-orange-shadow: #b98236;

/* Fonts */
$font-default: Arial, sans-serif;
/* Media Query Variables */
$desk-min: "screen and (min-width: 1201px)";



/* Initial Standard DOM Elements */

html, body {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    position: relative;
    color: $color-navy;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-family: $font-default;
    font-size: 14px;
}

body * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:link, a:visited, a:hover {
    text-decoration: none;
    color: inherit;
}

/* Customized reusable parts */
.orange-btn, a.orange-btn, a.orange-btn:link, a.orange-btn:visited, a.orange-btn:hover {
    display: inline-block;
    color: $color-white;
    background: $color-orange;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 0px 0px $color-orange-shadow;
    -moz-box-shadow: 0px 5px 0px 0px $color-orange-shadow;
    box-shadow: 0px 5px 0px 0px $color-orange-shadow;
    padding: 10px;
    cursor: pointer;
}


.blue-btn, a.blue-btn, a.blue-btn:link, a.blue-btn:visited, a.blue-btn:hover {
    display: inline-block;
    color: $color-white;
    background: $color-blue;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 0px 0px $color-blue-shadow;
    -moz-box-shadow: 0px 5px 0px 0px $color-blue-shadow;
    box-shadow: 0px 5px 0px 0px $color-blue-shadow;
    padding: 10px;
    cursor: pointer;
}


.white-bg {
    background: $color-white;
}

.desk-only {
    display: none;

    @media #{$desk-min} {
        display: block;
    }
}

.mobile-only {
    @media #{$desk-min} {
        display: none;
    }
}

/* -- Global Elements -- */

/* Navigation */

#main-nav {
    width: 100%;
    position: relative;

    @media #{$desk-min} {
        text-align: center;
    }

    #top-nav {
        background: $color-white;
        padding: 10px 15px;
        text-align: center;
        min-height: 90px;
        max-height: 90px;
        font-size: 18px;

        &:after {
            content: "";
            clear: both;
            display: block;
        }

        #main-logo {
            display: inline-block;
            cursor: pointer;
            max-width: 50%;

            @media #{$desk-min} {
                margin: 0 20px;
                max-width: 25%;
            }

            img {
                max-width: 100%;
                height: auto;
            }
        }

        .search-btn {
            position: absolute;
            top: 35px;
            left: 15px;
            cursor: pointer;
            @media #{$desk-min} {
                left: 30px;
            }
        }

        #menu-btn {
            position: absolute;
            top: 35px;
            right: 15px;
            cursor: pointer;
            color: $color-blue;

            @media #{$desk-min} {
                display: none;
            }

            .open-txt {
                display: none;
            }
        }
    }

    #nav-menu {
        @media #{$desk-min} {
            position: relative;
            display: block;
            height: 50px;
            width: 100%;
        }
    }

    .desk-utility-link {
        display: none;
        color: $color-blue;
        position: relative;
        bottom: 26px;
        margin: 0 15px;

        @media #{$desk-min} {
            display: inline-block;
        }
    }

    .utility-link {
        display: none;

        @media #{$desk-min} {
            display: none;
        }

        & > a, & > div {
            position: relative;
            width: 100%;
            color: $color-white;
            background: $color-navy;
            display: block;
            padding: 10px 15px;
        }

        ul {
            display: none;
            list-style: none;
            padding: 0 0 0 0;
            margin: 0 0 0 0;

            li {
                padding: 0 0 0 0;
                margin: 0 0 0 0;

                a {
                    position: relative;
                    width: 100%;
                    color: $color-white;
                    background: $color-dark-navy;
                    display: block;
                    padding: 10px 15px;
                }
            }
        }
    }

    .main-nav-item {
        display: none;

        @media #{$desk-min} {
            display: inline-block;
            height: 50px;
            background: $color-white;
            position: relative;
            margin: 0 10px;
        }

        & > a, & > div {
            position: relative;
            width: 100%;
            color: $color-white;
            background: $color-blue;
            display: block;
            padding: 10px 15px;

            @media #{$desk-min} {
                height: 50px;
                background: $color-white;
                color: $color-navy;
                line-height: 50px;
                padding: 0 15px;
                font-size: 18px;
            }
        }

        &:hover {
            & > a, & > div {
                @media #{$desk-min} {
                    color: $color-white;
                    background: $color-blue;
                }
            }
        }

        ul {
            display: none;
            list-style: none;
            padding: 0 0 0 0;
            margin: 0 0 0 0;

            li {
                padding: 0 0 0 0;
                margin: 0 0 0 0;

                a {
                    position: relative;
                    width: 100%;
                    color: $color-white;
                    background: $color-blue-shadow;
                    display: block;
                    padding: 10px 15px;

                    @media #{$desk-min} {
                        width: 150px;
                        text-align: left;
                    }
                }
            }
        }
    }

    .expandable {
        div {
            cursor: pointer;

            &:after {
                content: "";
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid $color-white;
                position: relative;
                top: 12px;
                margin: 0 10px;

                @media #{$desk-min} {
                    border-top: 5px solid $color-blue;
                    float: right;
                    margin-top: 12px;
                    margin-right: 10px;
                }
            }
        }

        &:hover {
            & > a, & > div {
                @media #{$desk-min} {
                    color: $color-white;
                    background: $color-blue;
                }
            }

            div:after {
                @media #{$desk-min} {
                    border-top: 5px solid $color-white;
                }
            }

            ul {
                @media #{$desk-min} {
                    display: block;
                    position: absolute;
                    top: 50px;
                    left: 0;
                    z-index: 5;
                }
            }
        }
    }

    .nav-cta-wrapper {
        text-align: center;
        padding: 15px 0;
        background: $color-off-white;
        -webkit-box-shadow: inset 0px 5px 4px 0px $color-white-shadow;
        -moz-box-shadow: inset 0px 5px 4px 0px $color-white-shadow;
        box-shadow: inset 0px 5px 4px 0px $color-white-shadow;

        @media #{$desk-min} {
            padding: 0 0 0 0;
            background: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }

        .blue-btn, .orange-btn {
            margin-right: 5px;
        }

        a, a:link, a:visited, a:hover {
            color: $color-blue;
            display: inline-block;
            margin: 15px 0 0;
        }

        .orange-btn {
            @media #{$desk-min} {
                position: absolute;
                top: 95px;
                right: 30px;
            }
        }

        .call-block {
            @media #{$desk-min} {
                position: absolute;
                padding: 15px;
                font-size: 24px;
                top: 550px;
                right: 30px;
                background: $color-white;
                -webkit-box-shadow: 0px 0px 6px 0px $color-black;
                -moz-box-shadow: 0px 0px 6px 0px $color-black;
                box-shadow: 0px 0px 6px 0px $color-black;
                border-radius: 5px;
                z-index: 5;
                color: $color-navy;
                .desk-only {
                    display: inline-block;
                    margin-right: 5px;
                }
                a, a:link, a:visited, a:hover {
                    color: $color-navy
                }

                .blue-btn, .blue-btn:link, .blue-btn:visited, .blue-btn:hover  {
                    display: block;
                    margin: 0 0 5px 0;
                    padding: 20px 35px;
                    font-size: 24px;
                }
            }
        }
    }
    .call-link-wrapper {
        position: absolute;
        top: 35px;
        right: 30px;
    }
    &.open {
        #top-nav {
            #menu-btn {
                .close-txt {
                    display: none;
                }

                .open-txt {
                    display: inline;
                }
            }
        }

        .utility-link {
            display: block;
        }

        .main-nav-item {
            display: block;
        }

        .expandable {
            &.open {
                ul {
                    display: block;
                }
            }
        }
    }
}

/* Search Overlay */

.search-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255, 0.8);
    text-align: center;
    font-size: 28px;

    .title {
        margin-top: 20%;

        .close-btn {
            cursor: pointer;
            font-size: 20px;
            font-weight: 600;
        }
    }

    .input-wrapper {
        margin-top: 45px;

        button, button:focus {
            display: inline-block;
            background: none;
            border: none;
            background-color: none;
            cursor: pointer;
            padding: 0 0 0 0;
            font-size: 28px;
        }

        input[type="text"], input[type="text"]:focus {
            font-size: 28px;
            background: none;
            outline: none;
            border: none;
            border-bottom: 2px solid $color-navy;
            padding: 5px 10px;
            width: 425px;
            max-width: 75%;
        }
    }
}

/* Footer */

#footer {
    #footer-top {
        text-align: center;
        padding: 30px 15px;
        background: $color-navy;

        @media #{$desk-min} {
            padding: 30px 30px;

            &:after {
                content: "";
                clear: both;
                display: block;
            }
        }

        .social-wrapper {
            display: inline-block;

            @media #{$desk-min} {
                float: left;
            }

            &:after {
                content: "";
                display: block;
                clear: both;
            }

            .social-icon, .social-icon:link, .social-icon:visited {
                display: inline-block;
                float: left;
                height: 40px;
                width: 40px;
                background: $color-white;
                margin-right: 10px;
                font-size: 24px;
                padding-top: 6px;

                &:last-child {
                    margin-right: 0;
                }

                &.facebook {
                    padding-left: 15px;
                    padding-top: 10px;
                }
            }
        }

        .cta-wrapper {
            margin-top: 20px;

            @media #{$desk-min} {
                float: right;
                margin-top: 0;
            }
        }

        .blue-btn, .blue-btn:link, .blue-btn:visited, .blue-btn:hover {
            padding: 20px;
            font-size: 18px;
        }
    }

    #footer-bottom {
        background: $color-dark-navy;
        color: $color-grey;
        padding: 45px 15px 30px;

        @media #{$desk-min} {
            padding: 60px 30px 60px;

            &:after {
                content: "";
                clear: both;
                display: block;
            }
        }

        .contact-info {
            margin-bottom: 25px;

            @media #{$desk-min} {
                float: left;
                width: 50%;
                margin-bottom: 0;
            }

            .phone-link, a.phone-link, a.phone-link:link, a.phone-link:visited, a.phone-link:hover {
                display: block;
                margin: 5px 0 0 0;
                font-size: 24px;
            }
        }

        .footer-right {
            @media #{$desk-min} {
                float: left;
                width: 50%;
            }

            .copyright {
                font-style: italic;
                margin-bottom: 25px;
            }

            .legal {
                a:after {
                    content: "|";
                    display: inline-block;
                    margin: 0 15px;
                }

                a:last-child {
                    &:after {
                        content: "";
                    }
                }
            }
        }
    }
}

/* -- End Global Elements -- */

/* Hero */
.hero {
    position: relative;
    text-align: center;
    background: $color-black;
    padding: 140px 15px;
    color: $color-white;
    background-size: cover;
    background-position: center;
    background-image: url('../images/800x475.png');
    @media #{$desk-min} {
        padding: 180px 15px;
        background-size: cover;
        background-position: center;
        background-image: url('../images/2000x725.png');
    }

    & > .title {
        font-size: 32px;
        font-weight: 100;
        margin-bottom: 25px;

        @media #{$desk-min} {
            font-size: 36px;
        }

        strong {
            font-weight: bold;
        }
    }

    .orange-btn, a.orange-btn, a.orange-btn:link, a.orange-btn:visited, a.orange-btn:hover {
        padding: 20px;
        font-size: 1.2em;
    }

    .caption-wrapper {
        position: absolute;
        bottom: 25px;
        left: 15px;
        line-height: 1;
        font-size: 12px;

        .title {
            font-weight: bold;
            font-size: 16px;

            .subtitle {
                font-size: 14px;
                display: inline-block;
                font-weight: normal;
                margin-left: 5px;
            }
        }
    }
}

/* Content Block */

.content-block {
    padding: 140px 15px;
    font-size: 28px;

    .content-wrapper {
        @media #{$desk-min} {
            padding: 0 15px;
            width: 1200px;
            max-width: 100%;
        }
    }

    p {
        line-height: 1.4;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .subtitle {
        font-size: 18px;
        line-height: 1.8;
    }
}

/* Quote Block */

.quote-block {
    padding: 120px 15px;
    background: $color-black;
    color: $color-white;
    line-height: 1.8;
    background-size: cover;
    background-position: center;
    background-image: url('../images/800x475.png');
    @media #{$desk-min} {
        text-align: right;
        background-size: cover;
        background-position: center;
        background-image: url('../images/2000x675.png');
    }

    .quote-wrapper {
        @media #{$desk-min} {
            display: inline-block;
            padding: 0 15px;
            width: 1000px;
            max-width: 80%;
            font-size: 1.8em;
        }
    }

    p {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .by-line {
        margin-top: 25px;

        .author {
            font-weight: bold;
            font-size: 16px;

            @media #{$desk-min} {
                font-size: 24px;
            }
        }

        .title {
            font-size: 12px;

            @media #{$desk-min} {
                font-size: 18px;
            }
        }
    }
}
